@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

.title {
  font-weight: bold;
  font-size: 30;
}

p,code {
  text-indent: 10
}

body {
  background-color: rgb(243,255,224)
}

nav {
  position: fixed;
  top: 0%;
  left: 0%;
  padding-right: 10;
  background-color: rgb(163,233,65);
  border: solid;
  border-color: rgba(0, 22, 22, 0.4);
  
}

nav h1 {
  text-align: center;
  font-size: 30;
  padding-left: 4;
}

nav a  {
  text-decoration: none;
  color: black;

}

nav li {
  text-decoration: none;
  color: black;
  width: 100%;
  list-style: none;

}

#navbar ul {
  height: 88%;
  padding: 5;
}

#main-doc {
  position: absolute;
  margin-left: 250px;
  padding: 20px;
  margin-bottom: 110px;
}

a {
  cursor: pointer;
}

code {
  background-color: rgb(163,233,65);
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
    margin-top: 400px;
  }
  nav {
    position: absolute;
    margin-left: 17%;
  }}

